<% layout("/layouts/boilerplate.ejs") %>

<div class="main_body_color">
  <div class="container pt-5 pb-5">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <h2
          class="text-center mb-4"
          style="
            color: #f8f9fa;
            font-weight: 500;
            font-size: 3rem;
            text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.595);
          "
        >
          Add New Teacher
        </h2>

        <form action="/teachers" method="POST">
          <div class="mb-3">
            <label
              for="teachersName"
              class="form-label"
              style="color: #4c1d3d; font-weight: 500"
              >Teacher's Name</label
            >
            <input
              type="text"
              class="form-control form-control-lg"
              id="teachersName"
              name="name"
              placeholder="Enter course title"
              required
            />
          </div>
          <div class="mb-3">
            <label
              for="teachersDesignation"
              class="form-label"
              style="color: #4c1d3d; font-weight: 500"
              >Teacher's Desgination</label
            >
            <select
              id="teachersDesignation"
              class="form-select form-select-lg"
              aria-label="Select Designation"
              style="color: #666"
            >
              <option selected disabled>Enter Your Designation</option>
              <option value="Professor" style="color: #000">Professor</option>
              <option value="Associate Professor">Associate Professor</option>
              <option value="Assistant Professor">Assistant Professor</option>
              <option value="lecturer">Lecturer</option>
            </select>
          </div>

          <div class="mb-3">
            <label
              for="teachersEmail"
              class="form-label"
              style="color: #4c1d3d; font-weight: 500"
              >Teacher's Email</label
            >
            <input
              type="email"
              class="form-control form-control-lg"
              id="teachersEmail"
              name="email"
              placeholder="Enter your email"
              required
            />
          </div>

          <div class="d-grid">
            <button
              type="submit"
              class="btn btn-lg text-white"
              style="
                background-color: #be2bc0;
                border-color: #be2bc0;
                padding: 0.75rem 1.25rem;
              "
            >
              Add Teacher
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
